PORT=3000
DB_USER=tu_usuario
DB_HOST=localhost
DB_NAME=nombre_tu_db
DB_PASSWORD=tu_password
DB_PORT=5432
JWT_SECRET=cambia_esto_por_una_clave_secreta_larga_y_segura

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=tu_usuario_mailtrap
SMTP_PASS=tu_password_mailtrap